
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main1{
    background-color: #1F2937;
    
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px;
}

.main1{
    flex-wrap: wrap;
}
.lig{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.image-main{
    display: flex;
    justify-content: space-between;
}
.links, .para{
    display: flex;
    color: #a9abae;
    font-size: 18px;
    gap: 15px;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.web{
    color: #F9FAF8;
    font-size: 48px;
    font-weight:900;
    margin-bottom: 0;
    margin-top: 0;
}

.para{
    margin-top: 0;
}

footer{
    color: #e5e7eb;
    font-size: 18px;
    gap: 15px;
}

.butt{
    background-color: #3883f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 8px 30px;
}

.boomer{
    width: 650px;
    height: 400px;
    
}

.info-head{
    color: #1f2937;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
}

.images, .caption{
    display: flex;
    justify-content: center;
    
}
.square{
    height: 150px;
    width: 150px;
    margin-top: 40px;
    border:#3883f6 solid 4px;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.fix{
    display: block;
}

.new-text{
    text-align: center;
    color: #656570;
}